@import '../../index.scss';

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  max-height: 200px;
  background: transparent;

  p {
    background: transparent;
    font-weight: 800;
    font-size: 20px;
  }
}

.loading-container {
  text-align: center;
  color: #be123c;
  background: transparent;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loading-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  background: transparent;
}

.loading-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 8px solid transparent;
  border-top-color: #be123c;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  background: transparent;
}

#circle-1 {
  animation-delay: 0.2s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
