@import '../../index.scss';

main.home-main {
  padding: 0;
  margin: 0;
  width: 100%;

  section.movies {
    padding: 40px;

    .sec-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 30px auto;

      a {
        display: flex;
        align-items: center;
        cursor: pointer;
        border: none;
        color: $rose-700;
        gap: 10px;

        &:hover {
          font-weight: 600;
        }
      }
    }

    .content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 30px;
      grid-row-gap: 60px;
    }
  }
}
